<a href="https://colab.research.google.com/github/hackdavid/excel_project/blob/master/interview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a=[1,2,3,4,5,5,6]
print(a[-1])
print(set(a))
b={'name':'daud','age':'daud'}

6
{1, 2, 3, 4, 5, 6}

In [4]:
p=lambda x:x*5
print(p(4))

20

In [5]:
a.remove(6)
print(a)

[1, 2, 3, 4, 5, 5]

In [6]:
import pandas as pd

In [27]:
from operator import delitem
df = pd.DataFrame({'row': ['00000-UNITED STATES', '01000-ALABAMA', '01001-Autauga County, AL', '01003-Baldwin County, AL','01005-Barbour County, AL']})
print(df['row'].str.split('-'))

0         [00000, UNITED STATES]
1               [01000, ALABAMA]
2    [01001, Autauga County, AL]
3    [01003, Baldwin County, AL]
4    [01005, Barbour County, AL]
Name: row, dtype: object

In [12]:
inputs='daud'
output='122333aaaa!!!!!'
temp=''
for i in range(len(inputs)):
  for j in range(i+1):
    temp=temp+inputs[i]
print(temp)

daauuudddd

In [ ]:
write a program to generate the sequences based on the length passed as an input, from the given input string.
For example, if the input string is “abc”, and input length is 2, then the output must be {ab,bc} only (only the consecutive sequences allowed)
If the input is “abcde” and length is 3, then output must be {abc, bcd, cde}

In [22]:
m='abcde'
n=2
res=[]
for i in range(len(m)):
  if len(m)<n:
    break
  else:
    c=0
    ts=''
    for j in range(i,len(m)):
      if c==n or len(m[i:])<n:
        temp=1
      else:
        c=c+1
        ts=ts+m[j]
    if len(ts)==n:
      res.append(ts)
print(res)

['ab', 'bc', 'cd', 'de']

In [39]:
lists1=[10,3,11,45,2,20,45,98,65]
res=[]
for i in range(len(lists1)):
  for j in range(i+1,len(lists1)):
    if lists1[j]<lists1[i]:
      temp=lists1[i]
      lists1[i]=lists1[j]
      lists1[j]=temp
print(lists1)
print(lists1[3])

[2, 3, 10, 11, 20, 45, 45, 65, 98]
11

In [ ]:
Write a query to fetch the department-wise count of employees sorted by department’s count in ascending order.

In [ ]:
select count(employess) from table1 group by department_name order by count(employee);

In [37]:
product_pattern = 'xxxx-xxx-xxx'
product_list = [
        'c-24-vvd-11g4',
        '22x-r2x-vv33',
        'ddxx-fsw-xdx',
        'ccx-fd-f3',
        'ghx-02c-c4hh',
        '111-r2x-vss',
        's-r-4cxc',
        'ss2-dff-xsd',
        '33-df-vg-12-87'
]

In [ ]:
"""
Requirements: Please extract the products from the product_list, which are matching with the product_pattern.
"""

In [ ]:
Output: ['c-24-vvd-11g4']

In [38]:
patterns=product_pattern.split('-')
result=[]
for item in product_list:
  temp=item.split('-')
  if len(temp)==len(patterns):
    token=0
    for x,y in zip(patterns,temp):
      if len(x)==len(y):
        pass
      else:
        token=1
    if token==0:
      result.append(item)
print(result)

['ddxx-fsw-xdx']

In [ ]:
Requirements:
Consider following models, Please optimize below piece of code.
Employee:
        name
        phone
        email
Salary:
        emp (FK from Employee)
        amount
======================================
employee_ids = [12,511,33,200,399]
user_data = {}
for id in employee_ids:
        emp_record = Employee.objects.filter(pk=id)
        sal_record = Salary.objects.filter(emp=id)
        user_data['name'] = emp_record['name']
        user_data['phone'] = emp_record['phone']
        user_data['salary'] = sal_record['amount']
print(user_data)

In [ ]:
results=employee.objects.filter(id__in=employee_ids)
for item in result:
  user_data['name']=item['name']
  user_data['salary']=item.id.amount
  user_Data['phone']=item['phone']

In [ ]:

    input = "daudibrahim"
​[16:10] Binayak Chatterjee (Guest)
    output = "addubiarihm"
​[16:11] Binayak Chatterjee (Guest)
    n = 2
​[16:11] Binayak Chatterjee (Guest)
    n=3 
output = "uadbidharmi"

In [52]:
a='daudibrahim'
output='addubiarihm'

ad

In [58]:
n=3
res=''
for i in range(0,len(a),n):
  m=i+1*n
  pk=a[i:m]
  if len(pk)<n:
    res=res+pk
  else:
    t=pk[::-1]
    res=res+t
print(res)

uadbidharim

In [53]:
n=3
c=0
res=''
temp=''
for i in range(len(a)):
  if len(a[i:])>n:
    if c==n:
      print(temp)
      c=0
      at=temp[::-1]
      res=res+at
      temp=''
      temp=temp+a[i]
      c=c+1
    else:
      temp=temp+a[i]
      c=c+1
  else:
    print(a[i:])
    res=res+a[i]
print(res)

dau
dib
him
im
m
uadbidhim

In [65]:
l1 = [1,2,3,4,1,3,2,3,4,5,5]
temp={}
p=[]
for item in l1:
  if item not in temp:
    a=l1.count(item)
    temp[item]=a
    p.append(a)
p.sort(reverse=True)
for key,val in temp.items():
  if val==p[0]:
    print('maximum occurance')

# minium and maximum occurance along with the elements

[3, 2, 2, 2, 2]
{1: 2, 2: 2, 3: 3, 4: 2, 5: 2}

In [70]:
def firsts(a,b):
  return a+b
def tests():
  assert firsts(5,5)==10

In [69]:
!pytest -v tests

============================= test session starts ==============================
platform linux -- Python 3.7.13, pytest-3.6.4, py-1.11.0, pluggy-0.7.1 -- /usr/bin/python3
cachedir: .pytest_cache
rootdir: /content, inifile:
plugins: typeguard-2.7.1

========================= no tests ran in 0.01 seconds =========================
ERROR: file not found: tests